html {
  font-size: 14px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}


/* override fade-in/fade-out transition on react-tooltip */
.__react_component_tooltip {
	transition: opacity 0.1s ease-in-out !important;
	visibility: visible;
  max-width: 250px;
}

// webkit scrollbars
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #D2D2D2;
}

::-webkit-scrollbar-thumb:hover {
  background: #B8B8B8;
}


/* override styling for custom sort icon in react-data-table */
.__rdt_custom_sort_icon__ {
  padding: 3px;
  box-sizing: border-box;
}

/* add gray border to  react-data-table-component last row */
.rdt_TableRow:last-child {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0,0,0,.12);
  margin-bottom: 20px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Adds a transition to the bottom of an overflowing div (i.e. long readme on preview page) */
.fade-bottom:before {
  content:'';
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  background:linear-gradient(transparent 150px, white);
}

/* Adds an animated ellipsis (...), used when loading run logs */
.text-loading-ellipsis:after {
  display: inline-block;
  animation: dotty steps(1,end) 3s infinite;
  content: '';
}

@keyframes dotty {
  0%   { content: ''; }
  25%  { content: '.'; }
  50%  { content: '..'; }
  75%  { content: '...'; }
  100% { content: ''; }
}

/* Override default behavior of simplemede-markdown-editor */
/* Makes readme editor 100% height with overflow-scrolling textarea */

#readme-editor-wrapper,
.EasyMDEContainer,
.CodeMirror-scroll {
  height: 100%;
}

.EasyMDEContainer .CodeMirror {
  height: calc(100% - 49px);
}
