.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}


/* override fade-in/fade-out transition on react-tooltip */
.__react_component_tooltip {
	transition: opacity 0.1s ease-in-out !important;
	visibility: visible;
  max-width: 250px;
}

// webkit scrollbars
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #D2D2D2;
}

::-webkit-scrollbar-thumb:hover {
  background: #B8B8B8;
}


/* override styling for custom sort icon in react-data-table */
.__rdt_custom_sort_icon__ {
  padding: 3px;
  box-sizing: border-box;
}
